@font-face {
    font-family: 'SkyFall';
    src: url('../fonts/SkyFallDone.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../fonts/SkyFallDone.woff2') format('woff2'),
         url('../fonts/SkyFallDone.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  

:root {
    --card-text: rgba(243, 230, 219, 1);
    --team-card-text: rgba(24, 21, 21, .6);
} 

body{
    background-color: rgb(182, 214, 228);
}

.card {
    background-color: tan;
    color: var(--card-text);
    max-width: 7rem;
    border: .3rem solid  var(--card-text);
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    font-family: 'SkyFall';
    font-size: .8rem;
}

.red-card{
    background-color: rgba(214, 13, 13, 0.89);
    color: var(--team-card-text);
    border-color:var(--team-card-text);
}

.blue-card {
    background-color: rgba(14, 28, 231, 0.877);
    color: var(--team-card-text);
    border-color:var(--team-card-text);
}

.assassin-card {
    background-color: rgba(62, 62, 63, 0.877);
    color: var(--team-card-text);
    border-color:var(--team-card-text);
}

#board-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5rem;
    margin: .5rem;
    grid-auto-rows: auto;
}
