@font-face {
    font-family: 'SkyFall';
    src: url('../fonts/SkyFallDone.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../fonts/SkyFallDone.woff2') format('woff2'),
         url('../fonts/SkyFallDone.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  

:root {
    --card-text: rgba(243, 230, 219, 1);
    --team-card-text: rgba(24, 21, 21, .6);
    --red-team-color:rgba(214, 13, 13, 0.7);
    --blue-team-color:  rgba(14, 28, 231, 0.7);
} 

body{
    background-color: rgb(182, 214, 228);
}

.card {
    background-color: tan;
    color: var(--card-text);
    max-width: 7rem;
    border: .3rem solid  var(--card-text);
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    font-family: 'SkyFall';
    font-size: .8rem;
}

.red-card{
    background-color: var(--red-team-color);
    color: var(--team-card-text);
    border-color:var(--team-card-text);
}

.blue-card {
    background-color:var(--blue-team-color);
    color: var(--team-card-text);
    border-color:var(--team-card-text);
}

.assassin-card {
    background-color: rgba(62, 62, 63, 0.877);
    color: var(--team-card-text);
    border-color:var(--team-card-text);
}

#board-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5rem;
    margin: .5rem;
    grid-auto-rows: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: .5rem;
    margin: .5rem;
    grid-auto-rows: auto;
}

#team-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#red-team {
    background-color:  var(--red-team-color);
}

#blue-team {
    background-color: var(--blue-team-color);
}

.team-info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
    color: var(--team-card-text);
    border-color:var(--team-card-text);
    border-radius: 10px;
    padding: 1rem;
    width: 80%;
}

.team-info-box h3 {
    font-family: 'SkyFall';
    font-size: 1rem;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    padding: .2rem;
}


.team-info-box span {
    align-self: center;
    font-family: 'SkyFall';
    font-size: .7rem;
}

.team-join-btn{
    border: 1px solid black;
    justify-self: center;
    margin: auto;
    padding: .75rem 4rem;
}
